.wrapper {
    margin: 20px;
    .title {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        margin-bottom: 16px;
        .icon {
            font-size: 2.4rem;
            color: var(--text-color);
            margin-right: 10px;
        }
        .title-text {
            margin: 0;
            font-size: 3rem;
            color: var(--text-color);
        }
    }
    .container {
        margin: 0 30px;
    }
    .footer-table {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 8px 16px;
        .total {
            font-weight: bold;
            margin-right: 20px;
        }
    }
}
