.wrapper {
    margin: 30px;
    .banner {
        position: relative;
        .image {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
        .title,
        .description {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            color: var(--white-color);
        }

        .title {
            top: 30%;
            font-size: 3.4rem;
            font-weight: bold;
        }

        .description {
            top: 50%;
            width: 70%;
        }
    }
    .form {
        margin-top: 20px;
        .col {
            height: 50%;
            // border: 1px solid var(--border-color);
            .title-register {
                margin: 10px 0 0 0;
                font-size: 2.4rem;
                font-weight: bold;
                text-align: center;
            }
            .field {
                &:hover {
                    border-color: #333;
                }
                &:focus-within {
                    border-color: #333;
                }
            }
            .btn-submit {
                background-color: var(--black-color);
                height: 40px;
                &:hover {
                    background-color: #252525;
                }
            }
        }
        .image-right {
            width: 100%;
            height: 60%;
        }
    }
}
