.wrapper {
    border: 1px solid var(--border-color);
    .col {
        padding: 36px 40px 44px 40px;
        border-left: 1px solid var(--border-color);
    }
    .marketing {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .icon {
        font-size: 3rem;
        color: var(--black-color);
    }
    .title {
        font-size: 2rem;
        font-weight: 400;
        margin-top: 16px;
    }
    .description {
        max-width: 200px;
        margin-top: 10px;
        font-size: 1.2rem;
        text-align: center;
        color: var(--item-color);
    }
    .link {
        margin-top: 16px;
        color: var(--text-color);
        text-decoration: underline;
        font-weight: 700;
    }
    .contact {
        display: flex;
        justify-content: space-between;
        width: 70px;
    }
}
