.wrapper {
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
}
.title {
    color: var(--black-color);
    margin: 30px 0 20px 0;
    font-weight: 800;
    font-size: 5rem;
}

.gap {
    margin: 0 20px;
}

.propose-product {
    display: block;
    text-decoration: none;
    height: auto;
    margin-top: 20px;
    transition: transform 0.2s ease;
    &:hover {
        transform: translateY(-5px);
    }
}

.wrap-img {
    padding: 50px 0px;
    background-color: #f7f7f7;
}

.img-propose {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
}

.name-product {
    border-top: 1px solid #dfdfdf;
    margin-top: 20px;
    padding: 10px 0;
    font-size: 1.6rem;
    color: var(--text-color);
}

.price {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 10px;
}

:global {
    .ant-carousel .slick-prev,
    .ant-carousel .slick-next {
        color: #000 !important;
        &:hover {
            color: #000 !important;
        }
    }
}
