.wrapper {
    padding: 10px 20px 20px 20px;
    .column-right {
        display: flex;
        flex-direction: column;
        padding: 20px;

        .product-media {
            width: 700px;
            height: 770px;
            padding: 0px 30px 30px 30px;
            border-bottom: 1px solid var(--border-color);
            .product-img {
                width: 100%;
                height: 100%;
            }
        }
        .description {
            padding: 30px 15px;
            .name-product {
                font-size: 3rem;
                font-weight: 400;
                line-height: 1.4;
                color: var(--text-color);
                margin-bottom: 26px;
            }
            .introduce-product {
                font-size: 1.25rem;
                font-weight: 400;
                color: var(--text-color);
                line-height: 2;
            }
        }
    }
    .column-left {
        display: flex;
        flex-direction: column;
        .product-information {
            padding: 20px;
            margin-left: 30px;
            .product-title {
                margin-bottom: 20px;
                .title {
                    margin-top: 4px;
                    font-size: 2.6rem;
                    font-weight: 400;
                }
            }
            .product-price {
                margin-bottom: 20px;
                .price {
                    font-size: 1.2rem;
                    font-weight: 500;
                }
            }
            .product-overview {
                margin-bottom: 40px;
                font-size: 1.25rem;
                font-weight: 400;
            }
            .list-color {
                display: flex;
                flex-direction: column;
                padding: 20px 0;
                border-top: 1px solid var(--border-color);
                margin-bottom: 20px;
                .list-img {
                    display: flex;
                    width: 100px;
                    height: 100px;
                    .image-color {
                        cursor: pointer;
                        margin: 0px 14px 10px 0;
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        border-bottom: 2px solid transparent;
                    }
                    .active {
                        border-bottom: 2px solid var(--black-color);
                    }
                }
            }
            .list-size {
                padding: 20px 0px;
                border-top: 1px solid var(--border-color);
                margin-bottom: 20px;
            }
            .quantity {
                padding: 20px 0px;
                margin-bottom: 20px;
                border-top: 1px solid var(--border-color);
                display: flex;
                align-items: center;
                .number-quantity {
                    display: flex;
                    align-items: center;
                    .btn-minus,
                    .btn-plus {
                        flex: 1;
                        width: 32px;
                        height: 32px;
                        border: 1px solid var(--border-color);
                        background-color: transparent;
                        cursor: pointer;
                    }
                    .number {
                        flex: 2;
                        text-align: center;
                        line-height: 30px;
                        width: 50px;
                        height: 32px;
                        border-top: 1px solid var(--border-color);
                        border-bottom: 1px solid var(--border-color);
                    }
                }
                .label {
                    margin: 0 0 0 10px;
                    font-size: 1.5rem;
                    font-weight: 400;
                    color: var(--text-color);
                }
            }
            .add-shopping-cart {
                border-top: 1px solid var(--border-color);
                .btn {
                    font-size: 1.6rem;
                    font-weight: 500;
                    padding: 20px 0;
                }
            }
        }
    }
    .label {
        font-size: 1.8rem;
        margin-bottom: 16px;
    }
}
