* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-rendering: optimizeSpeed;
}

//Scroll
/* Định dạng thanh cuộn tổng thể */
::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

/* Định dạng thanh trượt (thumb) */
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

/* Định dạng đường ray (track) */
::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

/* Đổi màu checkbox  */
.ant-table .ant-checkbox-wrapper .ant-checkbox-inner {
    border-color: #000;
}

.ant-table .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #000;
    border-color: #000;
}

.ant-table .ant-checkbox-checked .ant-checkbox-inner::after {
    border-color: #fff;
}

.ant-table-row-selected > td {
    background-color: #f5f5f5 !important;
}

.ant-table-row-selected:hover > td {
    background-color: #e8e8e8 !important;
}

.ant-table .ant-checkbox:hover .ant-checkbox-inner {
    border-color: #000 !important;
    background-color: #000 !important;
}
