.wrapper {
    padding: 10px 16px;
    .loading {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 500px;
        .loading-img {
            object-fit: cover;
        }
    }
    .col {
        // padding: 0 16px;
        .menu {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid var(--border-color);
            padding: 20px 10px;
            .text-head {
                font-size: 1.2rem;
                color: var(--text-color);
            }
            .result {
                font-weight: 700;
            }
        }
        .contain {
            display: flex;
            flex-direction: column;
            height: 100%;
            margin-top: 14px;
            .list {
                padding: 0px 0px 30px 0;
                border-top: 1px solid var(--border-color);
                .title {
                    display: flex;
                    justify-content: space-between;
                    padding: 10px;
                    .text-category {
                        font-size: 1.2rem;
                        font-weight: 700;
                        text-transform: uppercase;
                    }
                }
                .filter {
                    padding: 10px 7px 20px 20px;
                    .checkbox {
                        padding: 6px 0;
                        display: flex;
                        align-items: center;
                        .input {
                            margin-right: 6px;
                        }
                        .label {
                            font-size: 1.1rem;
                            margin-bottom: 2px;
                            color: var(--item-color);
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
    }
    .col:nth-child(2) .menu {
        border-left: 1px solid transparent;
    }
    .list-product {
        padding: 14px 20px 20px 20px;
        .grid-product {
            padding: 0 14px 14px 14px;
            .item {
                display: flex;
                flex-direction: column;
                width: 180px;
                .wrap-img {
                    width: 100%;
                    height: 300px;
                    padding: 50px 0;
                    background-color: #f7f7f7;
                    .img-product {
                        max-width: 100%;
                        max-height: 100%;
                        width: auto;
                        height: auto;
                        object-fit: contain;
                    }
                }
                .information {
                    margin-top: 10px;
                    border-top: 1px solid var(--border-color);
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    height: 100px;
                    .name-product {
                        padding: 10px 0;
                        display: block;
                        font-size: 1.4rem;
                        font-weight: 500;
                    }
                    .price {
                        font-size: 1.2rem;
                        padding: 10px 0px;
                        display: block;
                    }
                }
            }
        }
        .not-found {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 500px;
            .not-found-img {
                width: 300px;
                height: 300px;
            }
            .not-found-text {
                margin-top: 40px;
                font-size: 2.4rem;
                font-weight: 800;
                color: var(--text-color);
            }
        }
    }
}
