.login {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.text-login {
    margin: 0 0 0 8px;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: pointer;
}
.icon-user {
    font-size: 1.9rem;
    padding-left: 8px;
    cursor: pointer;
    margin-bottom: 1px;
}

//Login
.title-login {
    font-weight: bold;
    font-size: 3rem;
}

.input-login {
    &:hover {
        border-color: #333;
    }
    &:focus-within {
        border-color: #333;
    }
}

//Menu
.menu {
    margin-top: 10px;
}
