.popper {
    position: absolute;
    top: 120%;
    left: 0;
    right: 0;
    background: white;
    border-top: none;
    border-radius: 5px;
    box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.2);
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;
    opacity: 0;
    visibility: visible;
    transform: translateY(0);
    transition: all 0.2s ease;

    &.active {
        opacity: 1;
    }

    // ::before: Border nối giữa input và popper
    &::before {
        content: '';
        position: absolute;
        top: -1px;
        left: 0;
        right: 0;
        height: 30px;
        background: transparent;
        z-index: 1;
    }
}
