//FontMain
@font-face {
    font-family: 'Proxima Nova';
    src: url('../assets/fonts/ProximaNova1.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-family: 'Proxima Nova', san-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

head {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-rendering: optimizeSpeed;
}
