.wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    .title {
        font-size: 3rem;
        font-weight: 800;
        width: 100%;
        padding: 10px;
        color: var(--text-color);
    }
    .form-container {
        border-radius: 4px;
        border: 1px solid var(--border-color);
        padding: 20px 30px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    }
}
