.wrapper {
    border: 1px solid var(--border-color);
    .col {
        padding: 20px 15px;
        border-right: 1px solid var(--border-color);
        .item {
            display: flex;
            flex-direction: column;
            align-items: start;
            .description {
                font-size: 1.2rem;
                color: var(--black-color);
                font-weight: 400;
                margin-bottom: 14px;
            }
            .search {
                display: flex;
                margin-bottom: 14px;
                .input {
                    font-size: 1.6rem;
                }
                .btn {
                    background-color: var(--black-color);
                    width: 50px;
                    outline: none;
                    border: none;
                    cursor: pointer;
                }
            }
            .contact {
                display: flex;
                width: 100%;
                justify-content: flex-start;
                .icon {
                    font-size: 1.6rem;
                    padding: 16px;
                    color: var(--black-color);
                    border: 1px solid var(--border-color);
                }
            }
        }
    }
    .col-2 {
        padding: 20px 50px;
        border-right: 1px solid var(--border-color);
        .list {
            padding-left: 0;
            list-style: none;
            .li-item {
                margin-bottom: 10px;
                color: var(--item-color);
                font-size: 1.2rem;
                cursor: pointer;
                &:hover {
                    color: var(--text-color);
                    text-decoration: underline;
                }
            }
        }
    }
    .title,
    .follow {
        font-size: 1.6rem;
        font-weight: 500;
        color: var(--black-color);
        margin-bottom: 14px;
    }
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px 0px;
    .text {
        font-size: 1.2rem;
        font-weight: 400;
        &:nth-child(2) {
            margin-bottom: 0;
        }
    }
}

.checkout-copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--black-color);
    padding: 24px;
    .right-copyright {
        display: flex;
        align-items: center;
        .image {
            width: 20px;
            height: 14px;
            object-fit: cover;
        }
        .text {
            margin: 0 0 1px 6px;
            color: var(--white-color);
            font-size: 1.4rem;
            font-weight: 600;
        }
    }
    .left-copyright {
        font-size: 1.2rem;
        font-weight: 400;
        color: var(--white-color);
    }
}
