.wrapper {
    display: flex;
    flex-direction: column;
    .banner {
        width: 100%;
        height: 250px;
        padding: 20px 15px;
        .image-banner {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 4px;
        }
    }
    .store-locator {
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        .page-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: var(--black-color);
            padding: 16px;
            margin-top: 10px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            .title-text,
            .total-store {
                padding-left: 10px;
                font-weight: 600;
                color: var(--white-color);
                margin: 0;
            }
        }
        .list-store {
            border: 1px solid var(--border-color);
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
            padding: 20px;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            .store-information {
                cursor: pointer;
                border-radius: 6px;
                margin-bottom: 20px;
                box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
                &:hover {
                    background-color: rgba(0, 0, 0, 0.05);
                }
                .store-item {
                    .image-store-wrapper {
                        width: 100%;
                        height: auto;
                        padding: 20px;
                        .image-store {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 2px;
                        }
                    }
                    .store-details {
                        padding: 22px 0px;
                        .store-name {
                            font-size: 1.6rem;
                            font-weight: 700;
                            color: var(--text-colors);
                            cursor: pointer;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                        .store-address,
                        .contact {
                            font-size: 1.4rem;
                            margin: 12px 0;
                            color: var(--text-color);
                        }
                        .store-map-link {
                            font-size: 1.4rem;
                            cursor: pointer;
                            font-weight: 600;
                            color: var(--text-color);
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}
