.wrapper {
    .category-image {
        padding: 15px;
        width: 100%;
        height: 200px;
        .image {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
