.wrapper {
    padding: 30px;
    margin-bottom: 50px;
    border-top: 1px solid var(--border-color);
}

.title {
    color: var(--black-color);
    font-weight: 800;
    font-size: 4rem;
    line-height: 1.4;
    text-align: center;
}

.img-right,
.img-left {
    width: 270px;
    height: 270px;
    border-radius: 4px;
    overflow: hidden;
    &:nth-child(2) {
        margin-top: 15px;
    }
}

.img-center {
    width: 270px;
    height: 555px;
    border-radius: 4px;
    overflow: hidden;
}

.img-mid,
.img-top,
.img-bottom {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s ease;
    &:hover {
        transform: scale(1.1);
    }
}
