.wrapper {
    margin: 20px;
    .title {
        display: flex;
        align-items: center;
        width: 100%;
        .icon {
            font-size: 2.6rem;
            color: var(--black-color);
            margin-right: 10px;
        }
        .text {
            margin: 0;
            line-height: 1;
            font-size: 3.6rem;
            font-weight: 700;
            color: var(--text-color);
        }
    }
    .header {
        margin-top: 30px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        background-color: var(--black-color);
        padding: 10px 20px;
        .title-header {
            color: var(--white-color);
            line-height: 1.4;
            font-weight: 600;
            margin: 0;
        }
    }
    .container {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.1);
        border: 1px solid var(--border-color);
        .wrap-deleted-product {
            margin: 20px;
            padding: 14px 20px;
            display: flex;
            align-items: center;
            border-radius: 4px;
            border: 1px solid var(--border-color);
            box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.1);
            .inform-product {
                flex: 2;
                display: flex;
                .img-product {
                    width: 100px;
                    height: 100px;
                    border-radius: 6px;
                    border: 1px solid var(--border-color);
                    margin-right: 20px;
                }
                .detail-product {
                    display: flex;
                    flex-direction: column;
                    .name {
                        font-size: 1.8rem;
                        font-weight: 700;
                        line-height: 1.4;
                        color: var(--text-color);
                        margin-bottom: 10px;
                    }
                    .price {
                        font-size: 1.4rem;
                        color: var(--text-color);
                    }
                }
            }
            .action {
                .btn-restore {
                    margin-right: 10px;
                    &:hover {
                        color: var(--black-color);
                        border-color: var(--text-color);
                    }
                }
            }
        }
        .not-product {
            display: flex;
            flex-direction: column;
            margin: 20px 20px 40px 20px;
            .img-not-product {
                margin: auto;
                width: 200px;
                height: 200px;
            }
            .text {
                margin-top: 10px;
                font-size: 3rem;
                line-height: 1.4;
                font-weight: 700;
                color: var(--text-color);
                margin: auto;
            }
        }
    }
}
