.search {
    flex: 1;
    display: flex;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: 250px;
    position: relative;
    .input {
        border: none;
        padding: 6px;
        font-size: 1.3rem;
        color: var(--premium-color);
        outline: none;
        border-radius: 5px;
        background-color: transparent;
    }

    .icon-close {
        opacity: 0.7;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        opacity: 0;
    }

    .icon-search {
        display: block;
        font-size: 1.4rem;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .icon-search,
    .icon-close {
        padding: 7px 8px;
        cursor: pointer;
    }

    // Style item sản phẩm
    .item {
        display: flex;
        align-items: center;
        padding: 12px;
        text-decoration: none;
        border-bottom: 1px solid #f0f0f0;
        transition: background-color 0.2s;

        &:hover {
            background-color: #f3f3f3;
        }

        &:last-child {
            border-bottom: none;
        }
    }

    .image {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 4px;
        margin-right: 12px;
    }

    .information {
        flex: 1;
    }

    .name {
        margin: 0 0 4px 0;
        font-size: 1.2rem;
        color: var(--text-color);
        font-weight: 700;
    }

    .price {
        margin: 0;
        font-size: 1rem;
        color: var(--text-color);
        opacity: 0.7;
        font-weight: bold;
    }
    .no-product {
        padding: 10px 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .img-no-product {
        width: 120px;
        height: 120px;
    }
    .text-no-product {
        font-weight: bold;
        color: var(--text-color);
        margin-top: 6px;
    }
}
